body {
    margin: 60px auto;
    width: 70%;
}
ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 12px;
    line-height: 16px;
    color: #333;
}

