h1 {
  text-align: center;
}
.card {
  display: inline-block;
  width: 100px;
  height: 150px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #8C8F8C;
  margin-right: 15px;
  margin-bottom: 15px;
}

p {
  text-align: center;
  display: none;
}
#card_holder{
  width: 750px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
