h1 {
  text-align: center;
}
.card {
  display: inline-block;
  width: 100px;
  height: 150px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #8C8F8C;
  margin-right: 15px;
  margin-bottom: 15px;
}

p {
  text-align: center;
  opacity: 0;
  width: 50px;
}
#card_holder{
  width: 615px;
  margin-left: auto;
  margin-right: auto;
}

.clicked {
  border-color: red;
}
